* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 40px;
	font-family: 'Indie Flower', fantasy;
	letter-spacing: 0.3rem;
}

.loader {
	.logo {
		display: flex;
		justify-content: center;
		align-items: center;

		& > img {
			height: 200px;
		}
	}
}

.calendar {
}
